language: java
jdk:
  - openjdk11
sudo: false
cache:
  directories:
  - .autoconf
  - $HOME/.m2

install: mvn install -DskipTests=true -Dgpg.skip=true -Dmaven.javadoc.skip=true -B -V -U
after_success:
  - mvn clean test jacoco:report coveralls:report
