---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #8AADD0 !default;
$header-bg-color-secondary: #155799 !default;

// Text
$section-headings-color: #8AADD0 !default;
$body-text-color: #606c71 !default;
$body-link-color: #1e6bb8 !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";

.page-header {
  padding: 2rem 1rem;
}